# RomaFront — STAGING (copiar a .env.staging.local y usar con npm run dev:staging)
VITE_API_DISTRI_API=http://localhost:3004/rrhh

VITE_IMAGE_DOMAIN=http://www.ejemplo.com
VITE_IMAGE_PUBLIC_BASE_PATH=/remote/path
VITE_DEFAULT_USER_PHOTO_PATH=/images_rrhh/user-4250.png
VITE_CERTIFICADOS_FILES_BASE_URL=https://externalfiles.ejemplo.com

VITE_NAPSIS_LOGIN_URL=https://sts.napsislatam.com/Account/Login
VITE_QR_HOME_URL=https://webservices.ejemplo.com/qrhome/index.html

VITE_FIREBASE_ENABLED=false
